
.catalogue .cl-section{
    display:block !important;
    padding: 0 4px;;
    margin-bottom: 8px;;
}
.catalogue{
    display: flex;
}
.catalogue h2{
    padding: 8px !important;
    margin: 0px auto;
    display: block;
    text-align: center;
    font-weight: 600;
    font-size:13px;
    border-bottom: 1px solid #ede5db;
}
.cl-section{
    display:flex;
    margin: 0px;;
    padding: 0px;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: flex-start;
}
.col-xs-6{
    width: 50%;
}
.col-xs-3{
    width: 25%;
}
.img-responsive{
    display: block;
    max-width: 100%;
    height: auto;
    width: auto;
    max-height: 100%;
    margin: auto;
}
.cl-section figure{
    overflow: hidden;
    margin: 0;
    margin-bottom: 0;
}
.two{
    display:flex;
}
.col-xs-100{
    width: 100%;
}
.mt{
    margin-top:50px
}
.w-95{
    width: 95%;
    margin-left: auto;
    margin-right: auto;
}