.center{
    text-align: center;
}
.categories{
    display:flex;
    flex-direction:column;
}

.category{
    display:flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: flex-start;
    padding: 10px;
}
li{
    list-style: none;
}
li a{
    text-decoration: none;
    color:inherit
}
.col-xl-6{
    width: 40%;
}
.img-responsive {
    display: block;
    max-width: 100%;
    height: auto;
    width: auto;
    max-height: 100%;
    margin: auto;
    border-radius: 0;
}
.row{
    display: flex;
    flex-direction: row;
    justify-content: center;
}