display-flex,
.display-flex,
.display-flex-center,
.signup-content,
.signin-content,
.social-login,
.socials {
  display: flex;
  display: -webkit-flex;
}
list-type-ulli,
.socials {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

input,
select,
textarea {
  outline: none;
  appearance: unset !important;
  -moz-appearance: unset !important;
  -webkit-appearance: unset !important;
  -o-appearance: unset !important;
  -ms-appearance: unset !important;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  appearance: none !important;
  -moz-appearance: none !important;
  -webkit-appearance: none !important;
  -o-appearance: none !important;
  -ms-appearance: none !important;
  margin: 0;
}

input:focus,
select:focus,
textarea:focus {
  outline: none;
  box-shadow: none !important;
  -moz-box-shadow: none !important;
  -webkit-box-shadow: none !important;
  -o-box-shadow: none !important;
  -ms-box-shadow: none !important;
}


img {
  max-width: 100%;
  height: auto;
  border-radius: 0.5rem;
  box-shadow: #222;
}

figure {
  margin: 0;
  height: auto;
}

h2 {
  line-height: 1.66;
  margin: 0;
  padding: 0;
  font-weight: bold;
  color: #222;
  font-family: Poppins;
  font-size: 36px;
}

.main {
  background: #fff;
  padding: 150px 0;
}

.clear {
  clear: both;
}
.container {
  width: 900px;
  background: #fff;
  margin: 0 auto;

  border-radius: 20px;
  -moz-border-radius: 20px;
  -webkit-border-radius: 20px;
  -o-border-radius: 20px;
  -ms-border-radius: 20px;
}

.display-flex {
  justify-content: space-between;
  -moz-justify-content: space-between;
  -webkit-justify-content: space-between;
  -o-justify-content: space-between;
  -ms-justify-content: space-between;
  align-items: center;
  -moz-align-items: center;
  -webkit-align-items: center;
  -o-align-items: center;
  -ms-align-items: center;
}

.display-flex-center {
  justify-content: center;
  -moz-justify-content: center;
  -webkit-justify-content: center;
  -o-justify-content: center;
  -ms-justify-content: center;
  align-items: center;
  -moz-align-items: center;
  -webkit-align-items: center;
  -o-align-items: center;
  -ms-align-items: center;
}

.position-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

.signup {
  margin-bottom: 150px;
}

.signup-content {
  padding: 75px 0;
}

.signup-form,
.signup-image,
.signin-form,
.signin-image {
  width: 50%;
  overflow: hidden;
}

.signup-image {
  margin: 0 55px;
}

.form-title {
  margin-bottom: 33px;
}

.signup-image {
  margin-top: 45px;
}

figure {
  margin-bottom: 50px;
  text-align: center;
}

.form-submit {
  display: inline-block;
  background: #6dabe4;
  color: #fff;
  border-bottom: none;
  width: auto;
  padding: 15px 39px;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -o-border-radius: 5px;
  -ms-border-radius: 5px;
  margin-top: 25px;
  cursor: pointer;
}
.form-submit:hover {
  background: #4292dc;
}

#signin {
  margin-top: 16px;
}

.signup-image-link {
  font-size: 14px;
  color: #6dabe4;
  display: block;
  text-align: right;
}
.nav-link {
  color: #f5f8fa;
  display: block;
  text-decoration: none;
  text-align: right;
}
.term-service {
  font-size: 13px;
  color: #222;
}

.signup-form {
  margin-left: 75px;
  margin-right: 75px;
  padding-left: 34px;
}

.register-form {
  width: 100%;
}

.form-group {
  position: relative;
  margin-bottom: 25px;
  overflow: hidden;
}
.form-group:last-child {
  margin-bottom: 0px;
}

input {
  width: 100%;
  display: block;
  border: none;
  border-bottom: 1px solid #999;
  padding: 6px 30px;
  font-family: Poppins;
  box-sizing: border-box;
}

label {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  color: #222;
}

.label-has-error {
  top: 22%;
}

label.error {
  position: relative;

  background-position-y: 3px;
  padding-left: 20px;
  display: block;
  margin-top: 20px;
}

label.valid {
  display: block;
  position: absolute;
  right: 0;
  left: auto;
  margin-top: -6px;
  width: 20px;
  height: 20px;
  background: transparent;
}
label.valid:after {
  font-family: "Material-Design-Iconic-Font";
  content: "\f269";
  width: 100%;
  height: 100%;
  position: absolute;
  /* right: 0; */
  font-size: 16px;
  color: green;
}

.label-agree-term {
  position: relative;
  top: 0%;
  transform: translateY(0);
  -moz-transform: translateY(0);
  -webkit-transform: translateY(0);
  -o-transform: translateY(0);
  -ms-transform: translateY(0);
}

.material-icons-name {
  font-size: 18px;
}

.signin-content {
  padding-top: 67px;
  padding-bottom: 87px;
}

.social-login {
  align-items: center;
  -moz-align-items: center;
  -webkit-align-items: center;
  -o-align-items: center;
  -ms-align-items: center;
  margin-top: 80px;
}

.social-label {
  display: inline-block;
  margin-right: 15px;
}

.socials li {
  padding: 5px;
}
.socials li:last-child {
  margin-right: 0px;
}
.socials li a {
  text-decoration: none;
}
.socials li a i {
  width: 30px;
  height: 30px;
  color: #fff;
  font-size: 14px;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -o-border-radius: 5px;
  -ms-border-radius: 5px;
  transform: translateZ(0);
  -moz-transform: translateZ(0);
  -webkit-transform: translateZ(0);
  -o-transform: translateZ(0);
  -ms-transform: translateZ(0);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.socials li:hover a i {
  -webkit-transform: scale(1.3) translateZ(0);
  transform: scale(1.3) translateZ(0);
}

.signin-form {
  margin-right: 90px;
  margin-left: 80px;
}

.signin-image {
  margin-left: 110px;
  margin-right: 20px;
  margin-top: 10px;
}

@media screen and (max-width: 1200px) {
  .container {
    width: calc(100% - 30px);
    max-width: 100%;
  }
}
@media screen and (min-width: 1024px) {
  .container {
    max-width: 1200px;
  }
}
@media screen and (max-width: 768px) {
  .signup-content,
  .signin-content {
    flex-direction: column;
    -moz-flex-direction: column;
    -webkit-flex-direction: column;
    -o-flex-direction: column;
    -ms-flex-direction: column;
    justify-content: center;
    -moz-justify-content: center;
    -webkit-justify-content: center;
    -o-justify-content: center;
    -ms-justify-content: center;
  }

  .signup-form {
    margin-left: 0px;
    margin-right: 0px;
    padding-left: 0px;
    /* box-sizing: border-box; */
    padding: 0 30px;
  }

  .signin-image {
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 50px;
    order: 2;
    -moz-order: 2;
    -webkit-order: 2;
    -o-order: 2;
    -ms-order: 2;
  }

  .signup-form,
  .signup-image,
  .signin-form,
  .signin-image {
    width: auto;
  }

  .social-login {
    justify-content: center;
    -moz-justify-content: center;
    -webkit-justify-content: center;
    -o-justify-content: center;
    -ms-justify-content: center;
  }

  .form-button {
    text-align: center;
  }

  .signin-form {
    order: 1;
    -moz-order: 1;
    -webkit-order: 1;
    -o-order: 1;
    -ms-order: 1;
    margin-right: 0px;
    margin-left: 0px;
    padding: 0 30px;
  }

  .form-title {
    text-align: center;
  }
}
@media screen and (max-width: 400px) {
  .social-login {
    flex-direction: column;
    -moz-flex-direction: column;
    -webkit-flex-direction: column;
    -o-flex-direction: column;
    -ms-flex-direction: column;
  }

  .social-label {
    margin-right: 0px;
    margin-bottom: 10px;
  }
}

.topBar {
  font-size: 8px;
  display: flex;
  align-items: center;
  background-color: #4292dc;
  color: white;
  justify-content: space-between;
  padding: 0 60px 0 60px;
}
.phoneIconWrapper {
  background-color: white;
  height: 19px;
  width: 19px;
  border-radius: 50%;
  margin-right: 4px;
}
.phoneIcon {
  color: #4292dc;
  height: 18px;
  width: 18px;
}

.firstNavComponent {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.chatIconWrapper {
  display: flex;
  align-items: center;
  font-size: 6px;
  background-color: indianred;
  border-radius: 15px;
  padding: 0 16px 0 16px;
  transform: scale(0.7);
}

.chatIcon {
  height: 15px;
  width: 15px;
  margin-right: 3px;
}

.secondNavComponent {
  display: flex;
  align-items: center;
}
.giftIcon {
  height: 15px;
  width: 15px;
  margin-right: 3px;
}
.officeIcon {
  height: 15px;
  width: 15px;
  margin-right: 3px;
}
.peopleIcon {
  height: 15px;
  width: 15px;
  margin-right: 3px;
}
.locateIcon {
  height: 15px;
  width: 15px;
  margin-right: 3px;
}
.navChild1 {
  display: flex;
  align-items: center;
  padding: 0 5px 0 5px;
  margin: 0 5px 0 5px;
  cursor: pointer;
}
.navChild2 {
  display: flex;
  align-items: center;
  padding: 0 5px 0 5px;
  margin: 0 5px 0 5px;
  cursor: pointer;
  background-color: indianred;
}
.navChild3 {
  display: flex;
  align-items: center;
  padding: 0 5px 0 5px;
  margin: 0 5px 0 5px;
  cursor: pointer;
}
.navChild4 {
  display: flex;
  align-items: center;
  padding: 0 5px 0 5px;
  margin: 0 5px 0 5px;
  cursor: pointer;
}
.navChild5 {
  display: flex;
  align-items: center;
  padding: 0 5px 0 5px;
  margin: 0 5px 0 5px;
  cursor: pointer;
}

.midBar {
  position: relative;
  height: 100px;
  display: flex;
  align-items: center;
  background-color: #0000005c;
}
.midBar ::before {
  content: "";
  background: url(https://images.unsplash.com/photo-1581345331960-d1b0a223ef96?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&q=60);
  position: absolute;
  inset: 0;
  opacity: 50%;
  z-index: -1;
}
.brandLogo {
  color: white;
  display: flex;
  align-items: center;
  /* background-color: #0000005c; */
  width: fit-content;
  margin-right: 70px;
  margin-left: 20px;
  cursor: pointer;
}

.jewelleryIcon {
  color: white;
  height: 50px;
  width: 50px;
}
.searchBar {
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100vw;
}
.searchBar > input {
  background-color: transparent;
  outline: none;
  font-size: 18px;
  border: none;
}
.searchBar > input:focus {
  outline: none;
  border: none;
  /* outline: #4292dc; */
}
.searchBar:focus-within {
  border: 2px solid #4292dc;
}

.searchIcon {
  height: 30px;
  width: 30px;
  color: gray;
  cursor: pointer;
}

.cartComponent {
  display: flex;
  align-items: center;
  color: white;
  font-size: 8px;
  /* background-color: #0000005c; */
  margin-left: 80px;
  position: relative;
}
.cartComponent > :nth-child(1) {
  padding: 0 10px 0 10px;
  cursor: pointer;
}
.cartComponent > :nth-child(2) {
  padding: 0 10px 0 10px;
  cursor: pointer;
}
.cartComponent > :nth-child(3) {
  padding: 0 10px 0 10px;
  cursor: pointer;
}
.cartComponent > :nth-child(4) {
  padding: 0 10px 0 10px;
  cursor: pointer;
}
.cartIcon {
  width: 25px;
  height: 25px;
}
.heartIcon {
  width: 25px;
  height:25px;
}
.counter {
  height: 15px;
  width: 15px;
  text-align: center;
  border-radius: 50%;
  font-weight: 900;
  font-size: 0.8rem;
  background-color: indianred;
  position: absolute;
  bottom: 0px;
  right: 9px;
}

.heartIcon:hover {
  color: indianred;
  transition: 200ms;
}

.bottomBar {
  background-color: #4292dc;
  display: flex;
  align-items: center;
  font-size: 7px;
  line-height: 20px;
  justify-content: center;
}
.bottomBar > :nth-child(1) {
  color: darkslategray;
  background-color: whitesmoke;
  border-top: 3px solid wheat;
  border-bottom: 3px solid wheat;
  padding: 0 12px 0 12px;
  border-left: 3px solid wheat;
  display: flex;
  align-items: center;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}
.bottomBar > :nth-child(2) {
  color: darkslategray;
  background-color: whitesmoke;
  border-top: 3px solid wheat;
  border-bottom: 3px solid wheat;
  padding: 0 12px 0 12px;
  display: flex;
  align-items: center;
}
.bottomBar > :nth-child(3) {
  color: darkslategray;
  background-color: whitesmoke;
  border-top: 3px solid wheat;
  border-bottom: 3px solid wheat;
  padding: 0 12px 0 12px;
  display: flex;
  align-items: center;
}
.bottomBar > :nth-child(4) {
  color: darkslategray;
  background-color: whitesmoke;
  border-top: 3px solid wheat;
  border-bottom: 3px solid wheat;
  padding: 0 12px 0 12px;
  display: flex;
  align-items: center;
}
.bottomBar > :nth-child(5) {
  color: darkslategray;
  background-color: whitesmoke;
  border-top: 3px solid wheat;
  border-bottom: 3px solid wheat;
  padding: 0 12px 0 12px;
  display: flex;
  align-items: center;
}
.bottomBar > :nth-child(6) {
  color: red;
  background-color: whitesmoke;
  border-top: 3px solid wheat;
  border-bottom: 3px solid wheat;
  padding: 0 12px 0 12px;
  display: flex;
  align-items: center;
}
.bottomBar > :nth-child(7) {
  color: darkslategray;
  background-color: whitesmoke;
  border-top: 3px solid wheat;
  border-bottom: 3px solid wheat;
  padding: 0 12px 0 12px;
  display: flex;
  align-items: center;
}
.bottomBar > :nth-child(8) {
  color: darkslategray;
  background-color: whitesmoke;
  border-top: 3px solid wheat;
  border-bottom: 3px solid wheat;
  padding: 0 12px 0 12px;
  display: flex;
  align-items: center;
}
.bottomBar > :nth-child(9) {
  color: darkslategray;
  background-color: whitesmoke;
  border-top: 3px solid wheat;
  border-bottom: 3px solid wheat;
  padding: 0 12px 0 12px;
  border-right: 3px solid wheat;
  display: flex;
  align-items: center;
}
.navButton {
  background-color: gold;
  border-top: 3px solid gold;
  border-bottom: 3px solid gold;
  border-right: 3px solid gold;
  padding: 12px 3px;
  border-radius: 5px;
  font-weight: bolder;
}
.chevronIcon {
  width: 12px;
  height: 12px;
  color: darkslategray;
}

.bottomBar > :nth-child(1):hover {
  color: goldenrod;
  transition: 300ms;
  cursor: pointer;
}
.bottomBar > :nth-child(2):hover {
  color: goldenrod;
  transition: 300ms;
  cursor: pointer;
}
.bottomBar > :nth-child(3):hover {
  color: goldenrod;
  transition: 300ms;
  cursor: pointer;
}
.bottomBar > :nth-child(4):hover {
  color: goldenrod;
  transition: 300ms;
  cursor: pointer;
}
.bottomBar > :nth-child(5):hover {
  color: goldenrod;
  transition: 300ms;
  cursor: pointer;
}
.bottomBar > :nth-child(6):hover {
  color: goldenrod;
  transition: 300ms;
  cursor: pointer;
}
.bottomBar > :nth-child(7):hover {
  color: goldenrod;
  transition: 300ms;
  cursor: pointer;
}
.bottomBar > :nth-child(8):hover {
  color: goldenrod;
  transition: 300ms;
  cursor: pointer;
}
.bottomBar > :nth-child(9):hover {
  color: goldenrod;
  transition: 300ms;
  cursor: pointer;
}
.navButton:hover {
  color: white;
  transition: 150ms;
  cursor: pointer;
}

@media screen and (max-width: 400px) {
  .firstNavComponent {
    display: none;
  }
  .navChild1 {
    display: none;
  }
  .navChild4 {
    display: none;
  }
  .navChild5 {
    display: none;
  }
  .bottomBar {
    display: none;
  }
  .cartComponent {
    display: none;
  }
  .midBar {
    flex-direction: column;
  }
}

.NavPopParent {
  position: relative;
}
.NavPopChild {
  position: absolute;
  top: 40px;
  left: -1px;
  color: black;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.NavPopWrapper {
  height: 315px;
  width: 1190px;
  background-color: whitesmoke;
  display: flex;
  justify-content: center;
}
.NavPopChildren {
  padding: 5px 30px;
}
.NavPopImage {
  height: 200px;
  object-fit: contain;
}
.NavPopImageWrapper {
  margin: 30px;
}

.NavPopChildren > h1:hover {
  color: goldenrod;
}

.earWrap {
  left: -81px;
}
.bestWrap {
  left: -190px;
}
.allWrap {
  left: -330px;
}
.collWrap {
  left: -485px;
}
.coinWrap {
  left: -990px;
}

.topFooter {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.topFooter > :nth-child(2) {
  margin-top: -10px;
}
.topFooter > hr {
  width: 50px;
  background-color: black;
  margin-top: -2px;
  margin-bottom: 20px;
}
.footerSocialMedia {
  display: flex;
  align-items: center;
}
.footerPN {
  background-color: red;
  opacity: 50%;
  color: white;
  padding: 10px 50px;
  border-radius: 6px;
  font-size: 15px;
  margin: 0px 11px;
  border: 2px solid red;
  display: flex;
  align-items: center;
}
.footerIG {
  background-color: lightseagreen;
  opacity: 50%;
  color: white;
  padding: 10px 50px;
  border-radius: 6px;
  font-size: 15px;
  margin: 0px 11px;
  border: 2px solid lightseagreen;
  display: flex;
  align-items: center;
}
.footerTW {
  background-color: lightskyblue;
  opacity: 50%;
  color: white;
  padding: 10px 50px;
  border-radius: 6px;
  font-size: 15px;
  margin: 0px 11px;
  border: 2px solid lightskyblue;
  display: flex;
  align-items: center;
}
.footerFB {
  background-color: navy;
  opacity: 50%;
  color: white;
  padding: 10px 50px;
  border-radius: 6px;
  font-size: 15px;
  margin: 0px 11px;
  border: 2px solid navy;
  display: flex;
  align-items: center;
}
.footerFB:hover {
  cursor: pointer;
  opacity: 80%;
  transition: 150ms;
}
.footerTW:hover {
  cursor: pointer;
  opacity: 80%;
  transition: 150ms;
}
.footerIG:hover {
  cursor: pointer;
  opacity: 80%;
  transition: 150ms;
}
.footerPN:hover {
  cursor: pointer;
  opacity: 80%;
  transition: 150ms;
}
.brandsFooter {
  display: flex;
  align-items: center;
  margin-top: 60px;
  margin-left: 30px;
}
.midFooter {
  display: flex;
  align-items: center;
  color: white;
  background-color: lightseagreen;
  padding-left: 50px;
}
.storeIcon {
  height: 30px;
  width: 30px;
}
.midFooter > div {
  margin-left: 10px;
}
.midFooter > div > h6 {
  margin-top: -20px;
}
.bottomFooter {
  display: flex;
  align-items: baseline;
  justify-content: space-evenly;
  font-size: 15px;
}
.bottomFooter > div > h5 {
  font-weight: bolder;
}
.bottomFooter > div > p:hover {
  color: goldenrod;
  cursor: pointer;
  transition: 200ms;
}
@media screen and (max-width: 400px) {
  .footerSocialMedia {
    flex-direction: column;
    align-items: center;
  }
  .footerSocialMedia > :nth-child(1) {
    margin-bottom: 10px;
    width: 180px;
  }
  .footerSocialMedia > :nth-child(2) {
    margin-bottom: 10px;
    width: 180px;
  }
  .footerSocialMedia > :nth-child(3) {
    margin-bottom: 10px;
    width: 180px;
  }
  .brandsFooter {
    display: none;
  }
  .midFooter{
    margin: 30px 0 30px 0;
  }
  .bottomFooter{
    flex-direction: column;
    text-align: center;
    align-items: center;
  }
}
